.card {
    width: 300px;
    height: 350px;
    border: solid 2px black;
    border-radius: 5px;
    display: flex;
    margin-top: 100px;
    margin-left: 100px;
}

.card-esq {
    width: 70%;
    height: 100%;
}

.card-icone i {
    font-size: 5em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 15px;
}

.card.youtube .card-icone i {
    color: red;
}

.card.twitter .card-icone i {
    color: blue;
}

.card.instagram .card-icone i {
    color: rgb(250, 12, 63);
}

.card-titulo {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
}

.card-descricao {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}

.card-dir {
    width: 30%;
    height: 100%;
}

.card-bt {
    width: 100%;
    height: 100%;
}

.botao {
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: large;
    color: aliceblue;
}

.card.instagram .botao {
    background-color: rgb(250, 12, 63);
}
.card.instagram .botao:hover {
    background-color: salmon;
    color: rgb(250, 12, 63);
} 

.card.twitter .botao {
    background-color: blue;
}
.card.twitter .botao:hover {
    background-color: aquamarine;
    color: blue;
}

.card.youtube .botao {
    background-color: red;
}
.card.youtube .botao:hover {
    background-color: rgb(109, 9, 9);
    color: red;
}

#redes-sociais {
    display: flex;
    flex-wrap: wrap;
}